:root {
    --background: rgb(12, 32, 58);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', Arial, Tahoma, sans-serif;
    background-color: var(--background);
    margin: 0;
    color: rgba(252, 252, 252, 0.719);
}

a {
    text-decoration: none;
    color: rgba(252, 252, 252, 0.719);
}

.navbar {
    background-color: rgb(18, 31, 48);
    box-shadow: 0 10px 20px rgb(9, 15, 27);
    height: 90px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.logo {
    width: 180px;
    height: 50px;
    margin: 0 30px 0 20px;
    min-width: 80px;
    flex-wrap: none;
    font-size: 32px;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 35px;
    margin-right: 90px;
    list-style: none;
}

.ul a {
    position: relative;
}

.ul li {
    list-style: none;
    cursor: pointer;
}

.ul li a {
    text-decoration: none;
    color: rgba(252, 252, 252, 0.719);
    font-weight: bold;
    font-size: 16px;
}

.ul li a:hover {
    color: rgb(9, 174, 224);
}


/* responsive menu */

.btn__menu {
    margin-right: 30px;
    font-size: 28px;
    color: rgba(252, 252, 252, 0.719);
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 982px) {
    .logo {
        width: 180px;
        height: 50px;
    }
    .ul {
        font-size: 16px;
    }
}

@media screen and (max-width: 930px) {
    .btn__menu {
        display: block;
    }
    .ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 65px;
        background: rgb(44, 65, 92);
        z-index: 10;
        left: -100%;
        text-align: center;
        transition: all .8s;
        flex-direction: column;
    }
    .navbar {
        height: 80px;
    }
    .navbar__link {
        font-size: 27px;
        color: rgb(173, 173, 173)
    }
    nav ul li {
        display: block;
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 30px;
        color: #fff;
        font-weight: bold;
    }
    .logo {
        width: 180px;
        font-size: 30px;
    }
    .navbar__link:hover {
        color: rgb(224, 224, 224);
    }
    #check:checked~ul {
        left: 0;
    }
}

@media screen and (max-width: 285px) {
    .navbar {
        height: 100px;
    }
}


/* Inicio */

.body-index {
    background-color: rgb(11, 41, 83);
}

.main-index {
    display: grid;
    justify-content: center;
    width: 70%;
    margin-bottom: 20px;
}

.title-inicio {
    display: flex;
    justify-content: center;
    margin: 60px 0 50px 0;
    font-size: 36px;
    text-align: center;
}

.subtitle-inicio {
    margin: 60px 0 50px 0;
    font-size: 28px;
}

.container-projects {
    margin: 80px 0 80px 0;
}

.img-index {
    display: flex;
    width: 550px;
    height: 280px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.title-projects {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.title-projects a {
    color: white;
}

.title-projects a:hover {
    color: rgb(194, 194, 194);
}

.description-index {
    width: 550px;
    font-size: 18px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 720px) {
    body {
        justify-content: center;
    }
    main {
        width: 90%;
    }
    .main-index {
        width: 90%;
    }
    .title-inicio {
        font-size: 30px;
        margin: 50px 0 40px 0;
    }
    .subtitle-inicio {
        margin: 50px 0 40px 0;
        font-size: 24px;
    }
    .container-projects {
        margin: 40px 0 30px 0;
    }
    .img-index {
        width: 400px;
        height: 210px;
        border: 2px solid rgb(0, 0, 0);
    }
    .title-projects {
        margin-top: 70px;
        font-size: 28px;
    }
    .description-index {
        width: 400px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .main-index {
        width: 95%;
    }
    .title-inicio {
        font-size: 26px;
        margin: 30px 0 25px 0;
    }
    .subtitle-inicio {
        margin: 30px 0 25px 0;
        font-size: 20px;
    }
    .container-projects {
        margin: 30px 0 15px 0;
    }
    .img-index {
        width: 300px;
        height: 170px;
    }
    .title-projects {
        margin-top: 70px;
        font-size: 24px;
    }
    .description-index {
        width: 300px;
        font-size: 15px;
    }
}

@media (max-width: 340px) {
    .title-inicio {
        font-size: 20px;
    }
    .subtitle-inicio {
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 50px;
    }
    .container-projects {
        margin: 0;
    }
    .img-index {
        display: none;
        visibility: hidden;
    }
    .title-projects {
        margin-top: 70px;
        font-size: 16px;
    }
    .description-index {
        font-size: 12px;
        width: 95%;
    }
}


/* Section1: Calculadora  */

.section1 {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.section1__title {
    font-size: 36px;
    color: #29dfff;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.section1__show {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 320px;
    height: 120px;
    background-color: rgb(196, 196, 196);
    background: linear-gradient(to bottom, rgb(196, 196, 196) 85%, rgb(145, 145, 145));
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    border-radius: 12px 12px 0 0;
    text-align: right;
    padding: 16px;
    word-break: break-all;
}

.section1__container {
    width: 320px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    background-color: rgb(65, 127, 143);
    /* background: linear-gradient(to top, rgb(65, 127, 143), rgb(27, 52, 58)); */
    padding: 10px;
    gap: 5px;
    border-radius: 0 0 12px 12px;
}

.section1__keys {
    background-color: rgb(54, 105, 117);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    /* border: 1px solid rgb(54, 54, 54); */
    border-radius: 50px;
    border: none;
    font-size: 16px;
}

.section1__keys:hover {
    background-color: rgb(44, 90, 102);
}

@media (max-width: 375px) {
    .section1 {
        max-width: 95%;
        justify-content: center;
    }
    .section1__container {
        width: 280px;
        height: 310px;
    }
    .section1__show {
        width: 280px;
        height: 100px;
    }
    .section1__title {
        font-size: 26px;
    }
    main {
        width: 95%;
    }
}

@media (max-width: 320px) {
    .section1__container {
        width: 240px;
        height: 290px;
    }
    .section1__show {
        width: 240px;
        height: 90px;
    }
    .section1__title {
        font-size: 22px;
    }
}


/* teclas */

.clear {
    color: rgb(255, 0, 0);
}

.equal {
    background-color: rgb(21, 125, 151);
    width: 200%;
}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}


/* IMC */

.imc__section {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
}

.imc__title {
    color: #73eb73;
    font-size: 36px;
    margin-bottom: 40px;
}

.form label {
    font-size: 20px;
}

.imc__input1,
.imc__input2 {
    border-radius: 6px;
    border: none;
    margin-left: 10px;
    padding: 3px;
}

#imc__submit {
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px;
    margin-top: 30px;
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: center;
    border: none;
    text-transform: uppercase;
}

#imc__submit:hover {
    background-color: rgb(168, 168, 168);
}

.text-show {
    display: flex;
    width: 90%;
    height: 100px;
    font-weight: bold;
    font-size: 32px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 5px;
}

.text-show__bajo {
    background-color: rgb(144, 231, 133);
}

.text-show__normal {
    background-color: rgb(67, 209, 49);
}

.text-show__sobrepeso {
    background-color: rgb(199, 174, 33);
}

.text-show__ob1 {
    background-color: rgb(243, 92, 92);
}

.text-show__ob2 {
    background-color: rgb(187, 47, 47);
}

.text-show__ob3 {
    background-color: rgb(194, 6, 0);
}

@media (max-width: 500px) {
    .text-show {
        font-size: 24px;
    }
}

@media (max-width: 350px) {
    .imc__title {
        font-size: 30px;
    }
    .text-show {
        font-size: 24px;
    }
    .form label {
        font-size: 18px;
    }
}

@media (max-width: 270px) {
    .imc__section {
        margin-top: 20px;
    }
    .imc__title {
        font-size: 26px;
    }
    .text-show {
        font-size: 22px;
    }
    .form label {
        font-size: 16px;
    }
    .imc__input1,
    .imc__input2 {
        margin-left: 5px;
        padding: 1px;
    }
}

@media (max-width: 315px) {
    .text-show {
        font-size: 18px;
        margin-left: 5px;
    }
}

@media (max-width: 250px) {
    .main-imc {
        width: 95%;
        justify-content: center;
    }
    .imc__title {
        font-size: 22px;
    }
    .text-show {
        font-size: 18px;
        margin-left: 5px;
    }
    .form label {
        font-size: 15px;
    }
    .imc__input1,
    .imc__input2 {
        margin-left: 5px;
        padding: 1px;
    }
}


/* Cotizaciones */

.main-quotes {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.quotes-section {
    margin-bottom: 100px;
}

.title__quotes,
.subtitle__quotes {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin: 90px 0 60px 0;
    color: rgb(113, 255, 212);
}

.title-dolar,
.title-euro,
.title-real,
.title-ev,
.title-others {
    font-size: 26px;
    margin: 80px 0 20px 0;
    color: rgb(255, 137, 41);
}

.container__dolar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container__dolar,
.container__euro,
.container__real,
.container__evolucion {
    margin-left: 30px;
}

.container h3 {
    font-size: 20px;
    margin: 50px 0 20px 0;
    color: white;
}

.container table {
    border-collapse: collapse;
    border: 2px solid rgb(255, 178, 229);
}

.container table td,
.container table th {
    padding: 7px;
}

.container__others {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1081px) {
    .main-quotes {
        width: 90%;
    }
}

@media (max-width: 875px) {
    .container__others {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 880px) {
    .container__dolar,
    .container__euro,
    .container__real,
    .container__evolucion {
        margin-left: 0px;
    }
}

@media (max-width: 760px) {
    .container__dolar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 710px) {
    .title__quotes,
    .subtitle__quotes {
        font-size: 28px;
        margin: 70px 0 40px 0;
    }
    .title-dolar,
    .title-euro,
    .title-real,
    .title-ev,
    .title-others {
        font-size: 22px;
        margin: 60px 0 10px 0;
    }
}

@media (max-width: 450px) {
    .title__quotes,
    .subtitle__quotes {
        font-size: 24px;
        margin: 40px 0 20px 5px;
    }
    .title-dolar,
    .title-euro,
    .title-real,
    .title-ev,
    .title-others {
        font-size: 18px;
        margin: 40px 0 5px 0;
        display: flex;
        justify-content: center;
    }
    .container h3 {
        font-size: 16px;
        margin: 50px 0 10px 0;
    }
    .container table td,
    .container table th {
        padding: 5px;
        font-size: 15px;
    }
    .main-quotes {
        width: 95%;
        justify-content: center;
    }
}

@media (max-width: 340px) {
    .container__others table td,
    .container__others table th {
        padding: 3px;
        font-size: 14px;
    }
}

@media (max-width: 305px) {
    .container table td,
    .container table th {
        padding: 3px;
        font-size: 14px;
    }
    .container__others table td,
    .container__others table th {
        padding: 3px;
        font-size: 12px;
    }
}


/* evolucion */

.ev-dolar_oficial,
.ev-dolar_blue,
.ev-real,
.ev-euro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ev-dolar_oficial table,
.ev-dolar_blue table,
.ev-real table,
.ev-euro table {
    margin: 40px 15px 40px 15px;
    width: 50%;
    font-size: 16px;
    border: #38c0ff;
}

.ev-dolar_oficial table td,
.ev-dolar_oficial table th,
.ev-dolar_blue table td,
.ev-dolar_blue table th,
.ev-real table td,
.ev-real table th,
.ev-euro table td,
.ev-euro table th {
    padding: 10px;
}

@media (max-width: 980px) {
    .ev-dolar_oficial,
    .ev-dolar_blue,
    .ev-real,
    .ev-euro {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 685px) {
    .ev-dolar_oficial,
    .ev-dolar_blue,
    .ev-real,
    .ev-euro {
        grid-template-columns: repeat(2, 1fr);
    }
    .ev-dolar_oficial table,
    .ev-dolar_blue table,
    .ev-real table,
    .ev-euro table {
        margin: 30px 5px 30px 5px;
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .ev-dolar_oficial,
    .ev-dolar_blue,
    .ev-real,
    .ev-euro {
        grid-template-columns: repeat(1, 1fr);
    }
    .ev-dolar_oficial table,
    .ev-dolar_blue table,
    .ev-real table,
    .ev-euro table {
        margin: 15px 5px 15px 5px;
        font-size: 15px;
    }
}


/* Contact */

.main-contact {
    width: 50%;
}

.container-contact {
    display: grid;
    justify-content: center;
    margin: 60px 0 150px 0;
}

.container-social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0 50px 0;
}

.icon:hover {
    stroke: rgb(238, 255, 0);
}

.title-contact {
    text-align: center;
    font-size: 36px;
}

.description-contact {
    font-size: 20px;
    text-align: center;
}

@media (max-width: 480px) {}

@media (max-width: 340px) {
    .container-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin: 30px 0 50px 0;
    }
    .title-contact {
        font-size: 30px;
    }
    .description-contact {
        font-size: 16px;
    }
    .main-contact {
        width: 90%;
    }
}


/* Footer */

.footer {
    display: flex;
    justify-content: center;
}

.footer-imc,
.footer-contact,
.footer-calculator {
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 17px;
    bottom: 0;
    position: fixed;
}

.p-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 17px;
}

.p-footer a {
    color: rgb(2, 238, 255);
}

.p-footer a:hover {
    color: rgb(221, 166, 16);
}

@media (max-width: 270px) {
    footer a {
        font-size: 14px;
    }
}